@media(max-width: 1700px) {
    .clickFunnels_launch_settings_icon_block img {
        width: 250px;
        height: 250px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(1), .clickFunnels_launch_settings_icon_block img:nth-child(4) {
        top: 90px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(2) {
        left: 18px;
        top: 300px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(3) {
        left: -128px;
        bottom: 143px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(5) {
        right: 20px;
        top: 312px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(6) {
        right: -160.3px;
        bottom: 161.7px;
    }
}

@media(max-width: 1500px) {
    .header_search_block form, .header_search_block input {
        max-width: 450px;
        height: 50px;
        font-size: 25px;
    }
    .header_content_title, .header_logo a {
        font-size: 45px;
    }
    .header_button button {
        width: 300px;
        font-size: 30px;
        min-height: 60px;
    }
    .header_content_subtitle {
        font-size: 20px;
    }
    .header_search_block button {
        width: 60px;
        height: 50px;
    }
    .header_search_block button::before {
        width: 30px;
        height: 30px;
    }
    .header_nav_block {
        padding: 25px 60px 70px;
    }
    .header_content {
        min-height: 850px;
    }
    .screenshots__item {
        max-width: 550px;
    }
    .screenshots_block {
        justify-content: space-around;
    }
    .screenshots__item ul li {
        font-size: 27px;
    }
    .custom_code_table table tr th:nth-child(2) span {
        font-size: 25px;
    }
    .header_content_wordpress_name {
        margin-top: 240px;
    }
    .wrong_domain_title span {
        font-size: 30px;
    }
    .wrong_domain_title, .wrong_domain_block h4, .wrong_domain_addres, .custom_code_dots_block button {
        font-size: 20px;
    }
    .wrong_domain_block {
        max-width: 500px;
        min-height: auto;
    }
    .news_content_block {
        max-width: 800px;
        margin-top: 0px;
    }
    .good_news h4, .bad_news h4 {
        font-size: 35px;
    }
    .good_news h2, .bad_news h2 {
        font-size: 40px;
    }
    .clickFunnels_launch_content h3 {
        font-size: 40px;
    }
    .title_block h2 {
        font-size: 50px;
    }
    .popup h2 {
        font-size: 45px;
    }
    .popup form input {
        max-width: 450px;
        margin: auto;
    }
    .popup form button {
        font-size: 35px;
    }
    .popup_block {
        height: 600px;
    }
    .clickFunnels_launch_content button, footer button {
        max-width: 300px;
        font-size: 30px;
    }
    .whatch_video a {
        margin: 175px auto 0;
        font-size: 35px;
        max-width: 600px;
        height: 80px;
    }
    .thanks_page_footer_content__item h3, .thanks_page_footer_content__item_btn button {
        font-size: 35px;
    }
    .footer {
        -webkit-clip-path: polygon(0 0, 100% 43.5%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 43.5%, 100% 100%, 0% 100%);
    }
    .thanks_page_header_content h2 {
        font-size: 55px;
    }
    .thanks_page_header_content h3 {
        font-size: 35px;
    }
    .thanks_page_header_content h4 {
        font-size: 25px;
    }
}

@media(max-width: 1365px) {
    .custom_code_table_block {
        max-width: 1000px;
        right: 0;
        left: 0;
        margin: 81px auto 0;
    }
    .header_content_title {
        font-size: 45px;
    }
    .clickFunnels_launch_settings_icon_block img {
        width: 170px;
        height: 170px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(1), .clickFunnels_launch_settings_icon_block img:nth-child(4) {
        top: 150px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(2) {
        left: -20px;
        top: 292px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(3) {
        left: -121px;
        bottom: 290px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(5) {
        right: -2px;
        top: 300px;
    }
    .clickFunnels_launch_settings_icon_block img:nth-child(6) {
        right: -76.3px;
        bottom: 265.7px;
    }
    .clickFunnels_launch_content h3 {
        font-size: 35px;
    }
    .clickFunnels_launch_content p {
        max-width: 700px;
        font-size: 25px;
    }
    .whatch_video a {
        margin: 172px auto 0;
    }
    .footer {
        -webkit-clip-path: polygon(0 0, 100% 40.5%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 40.5%, 100% 100%, 0% 100%);
    }
}

@media(max-width: 1200px) {
    .screenshots_block {
        flex-direction: column;
        align-items: center;
    }
    .screenshots__item:first-child {
        margin-right: 0;
        margin-bottom: 45px;
    }
    .news_block {
        padding-bottom: 550px;
    }
    .header_content_title {
        font-size: 45px;
    }
    /*=============Thanks_page==========*/
    .whatch_video a {
        font-size: 30px;
        max-width: 550px;
    }
    .thanks_page_footer_content__item h3 {
        font-size: 35px;
    }
    .thanks_page_footer_content__item_btn button {
        font-size: 30px;
    }
    .footer {
        -webkit-clip-path: polygon(0 0, 100% 41%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 41%, 100% 100%, 0% 100%);
    }
    .header_content {
        background-size: cover;
        background-position: right;
    }
}

@media(max-width: 992px) {
    .header_logo a {
        font-size: 40px;
    }
    .header_button button {
        width: 250px;
        min-height: 50px;
        font-size: 30px;
    }
    .custom_code_table_block {
        flex-direction: column;
        align-items: center;
    }
    .custom_code_dots_block {
        margin-bottom: 25px;
    }
    .clickFunnels_launch {
        margin-top: 300px;
    }
    .clickFunnels_launch_settings_icon_block img {
        display: none;
    }
    .news_content_block {
        margin-bottom: 25px;
    }
    /*================Thanks Page==================*/
    .footer {
        margin-top: -20px;
        -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    }
    .whatch_video a {
        margin: 130px auto 0;
    }
    .thanks_page_header_content h2 {
        font-size: 60px;
    }
    .thanks_page_header_content h3 {
        font-size: 30px;
    }
    .thanks_page_header_content h4 {
        font-size: 25px;
    }
    .header {
        min-height: 915px;
    }
    .thanks_page_footer_content__item h3 {
        font-size: 30px;
    }
    .thanks_page_footer_content__item_btn button {
        font-size: 25px;
    }
}

@media(max-width: 767px) {
    .clickFunnels_launch_settings_icon_block img:nth-child(1), .clickFunnels_launch_settings_icon_block img:nth-child(4) {
        display: none;
    }
    .clickFunnels_launch_content h3 {
        font-size: 40px;
    }
    .header_content_title, .good_news h4, .bad_news h4 {
        font-size: 35px;
    }
    .news_content_block {
        background: #3E284C;
    }
    .header_content_wordpress_name {
        margin-top: 300px;
    }
    .header_logo a {
        font-size: 30px;
    }
    .popup h2 {
        font-size: 45px;
    }
    .popup_img_second {
        display: none;
    }
    .popup_img_first {
        left: -125px;
    }
    /*==================Thanks Page==================*/
    .thanks_page_header_content h2 {
        font-size: 50px;
    }
    .thanks_page_header_content h3 {
        font-size: 25px;
    }
    .thanks_page_header_content h4 {
        font-size: 20px;
    }
    .thanks_page_img_second {
        display: none;
    }
    .header {
        min-height: 880px;
    }
    .footer {
        margin-top: 0;
        -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    }
    .whatch_video a {
        margin: 150px auto 0;
    }
}

@media(max-width: 576px) {
    .popup h2 {
        font-size: 45px;
    }
    .good_news h2, .bad_news h2 {
        font-size: 40px;
    }
    .good_news h4, .bad_news h4, .header_content_title, .clickFunnels_launch_content h3, .clickFunnels_launch_content button, footer button {
        font-size: 25px;
    }
    .header_nav_block {
        flex-direction: column;
    }
    .header_button button {
        margin-top: 25px;
    }
    .header_content_subtitle {
        font-size: 16px;
    }
    .wrong_domain_title, .header_content_wordpress_name, .screenshots__item ul li, .clickFunnels_launch_content p, .custom_code_table table tr th:nth-child(2) span {
        font-size: 20px;
    }
    .title_block h2 {
        font-size: 40px;
    }
    footer button {
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .clickFunnels_launch_content button, footer button {
        max-width: 250px;
        min-height: 60px;
    }
    .popup h2 {
        font-size: 30px;
    }
    .popup_img_first, .popup_img_third {
        display: none;
    }
    .popup {
        padding: 0 15px;
    }
    /*=================Thanks Page===============*/
    .thanks_page_footer_content__item h3, .thanks_page_footer_content__item_btn button {
        font-size: 16px;
    }
    .thanks_page_footer_content__item {
        flex-direction: column;
    }
    .thanks_page_footer_content__item_btn button {
        display: block;
        margin: auto;
        margin-top: 25px;
    }
    .footer {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        margin-top: 50px;
        min-height: 400px;
    }
    .whatch_video a {
        font-size: 18px;
        padding: 0 15px;
        max-width: 380px;
    }
    .thanks_page_header_content h3 {
        font-size: 20px;
    }
    .thanks_page_header_content h4 {
        font-size: 16px;
    }
    .thanks_page_header_content h2 {
        font-size: 35px;
        margin-top: 25px;
    }
    .whatch_video a {
        margin: 138px auto 0;
    }
    .thanks_page_footer_content {
        margin-top: 100px;
    }
    #search_inp::placeholder {
        font-size: 18px;
    }
}

@media(max-height: 800px) {
    .popup_block {
        top: 50px;
        margin-bottom: 50px;
    }
}